.about {
    margin-top: 20px;
    padding-bottom: 60px;
    padding-top: 1px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: #FBF5DE solid 1px;
    /* gap: 20px; */
}

.about-text h1 {
    font-size: 1.8em;
}

.about-text p {
    line-height: 30px;
}

.about-image {
    background-color: brown;
    width: 50%;
}

@media (max-width: 600px) {
    .about {
        margin-top: 20px;
        border-bottom: #FBF5DE solid 1px;
        padding-bottom: 50px;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-text h1 {
        font-size: 1.4em;
    }

    .about-image {
        display: none;
    }

    .about-text p {
        font-size: 1em;
        text-align: center;
    }
}