.booking {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking h1 {
    font-size: 1.8em;
}

.booking a {
    text-decoration: none;
    font-weight: bold;
    background-color: #FBF5DE;
    color: #3B060A;
    border-radius: 10PX;
    cursor: pointer;
    border: #FBF5DE 2px solid;
    padding: 10PX;
}

@media (max-width: 600px) {
    .booking {
        margin-top: 20px;
    }

    .booking h1 {
        font-size: 1.4em;
    }

    .booking p {
        font-size: 1em;
        text-align: center;
    }
}