.booking {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking h1 {
    font-size: 1.8em;
}

.booking a {
    background-color: #901E3E;
    color: #FBF5DE;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-family: 'Lora', serif;
    font-size: 0.8em;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: 0 0 10px #fcefdc, 0 0 20px #fcefdc;
    transform: translateY(-2px);
    margin-top: 20px;
}

@media (max-width: 600px) {
    .booking {
        margin-top: 20px;
    }

    .booking h1 {
        font-size: 1.4em;
    }

    .booking p {
        font-size: 1em;
        text-align: center;
    }
}