.services {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: #FBF5DE solid 1px;
}

.services .title {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.3em; */
}

.services .items {
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 60px;
}

.services .items .services-item {
    background-color: #FBF5DE;
    padding: 10px;
    color: #3B060A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #FBF5DE 2px solid;
    border-radius: 10px;
    text-decoration: none;
}

.services .items .services-item:hover {
    box-shadow: 0 0 10px #fcefdc, 0 0 20px #fcefdc;
    transform: translateY(-2px);
}

.services .items .services-item a {
    color: #3B060A;
    text-decoration: none;
}

@media (max-width: 600px) {
    .services {
        border-bottom: #FBF5DE solid 1px;
    }

    .services .title {
        font-size: 1em;
    }

    .services .items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .services .items .services-item {
        width: 80%;
    }
}