.services {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.services .title {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.services .items {
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.services .items .services-item {
    background-color: #FBF5DE;
    padding: 10px;
    color: #3B060A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #FBF5DE 2px solid;
    border-radius: 10px;
}

.services .items .services-item a {
    color: #3B060A;
    text-decoration: none;
}